* {
    margin: 0;
    padding: 0;
}
body{
    background: #eae6e6;
}
main{
    position: relative;
    margin-right: 100px;
    background: aqua;

}
.container {
    width: 100%;
    max-width: 1428px;
    padding: 0 5px;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-top: 3px;
    margin-left: 30px;
}
nav {
    float: right;
}
nav ul {
    padding: 0;
    margin-top: 8px;
    margin-right: 25px;
    list-style: none;
}
nav li {
    display: inline-block;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    line-height: 38px;
}
